<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Buscar Cidade" name="city" [(ngModel)]="nomeInicialCidade">
    <span (click)="onSubmit()">
      <fa-icon
      animation="fade"
      style="--fa-animation-duration: 5s; cursor: pointer;"
      size="lg"
      class="search-icon"
      [icon]="searchIcon"
      ></fa-icon>
    </span>
  </form>
</div>

<app-previsao-card *ngIf="previsaoDatas" [previsaoDatas]="previsaoDatas"></app-previsao-card>